/INICIACIÓN A LAS HERRAMIENTAS DIGITALESEN EL AULA.pdf
/preguntas.md
/propuestaJM.md
*.docx
*.pdf
images/duracion_edutubers.png
.gitignore
*.aux
*.fls
*.mtc
*.mtc0
*.out
*.synctex.gz
*.toc
*.fdb_latexmk
*.log
*.maf
*.tex
.obsidian/*
